@media screen {
	
	body {
		background: #2E3740;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: 50% 50%;
		width: 50%;
		margin: auto;
		margin-top: 2%;
		background: white;
		padding-top: .25%;
		border-top-left-radius: .5em;
		border-top-right-radius: .5em;
	}
	
	div.data {
		text-align: center;
		width: 100%;
		background: #16aa56;
	}
	
	.data {
		grid-column: 1 / span 2;
		grid-row: 2 / span 1;
		justify-self: center;
		margin-bottom: 2%;
	}
	
	div.leftA {
		margin-bottom: 2%;
		margin-left: 10%;
	}
	
	div.rightA {
		margin-bottom: 2%;
		margin-left: 10%;
	}
	
	.avatar {
		width: 38%;
		border-radius: 100%;
		margin: 2%;
		margin-left: 15%;
	}
	
	.username {
		margin: auto;
		color: #5e5e5e;
		font-weight: bolder;
		font-size: x-large;
	}
	
	
}

@media screen and (max-width: 1110px) {
	.grid-container {
		width: 65%;
	}
}

@media screen and (max-width: 900px) {
	.grid-container {
		width: 75%;
	}
}

@media screen and (max-width: 700px) {
	.grid-container {
		width: 85%;
		padding: .2em;
	}
}

@media screen and (max-width: 500px) {
	.grid-container {
		width: 95%;
		padding: 0px;
		margin: 0px;
	}
}

@media screen and (max-width: 300px) {
	.grid-container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
}