@media screen and (orientation: landscape) {
	
	body {
		background: #2E3740;
	}
	
	.container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 5% 30% 65%;
	}
	
	.slideshow-container {
		gird-row: 2 / span 1;
		display: grid;
		grid-template-rows: 100%;
	}
	
	.slideshow-container div img {
		width: 95%;
	}
}