@media screen {
	
	body {
		background: white;
		text-align: center;
	}
	
	li {
		list-style: none;
	}
	
	.selector {
		padding: .6em 1em;
	}
	
	#selectCurrency {
		width: 6%;
		height: 20%;
		text-align: center;
	}		
	
	.grid-container {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows:	90% 10%;
		padding-top: 1%;
	}
	
	.list-of-products {
		background: white;
		grid-rows: 1 / span 1;
	}
	
	.total button {
		border: 1px black solid;
		border-radius: .5em;
		background: #1ECD6C;
		height: 100%;
		width: 35%;
		transition: background 0.3s ease-in-out;
	}
		
	.total button:hover {
		cursor: pointer;
		background: #16aa56;
	}
	
	.total {
		padding-top: 2%;
		padding-bottom: 2%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-rows: 2 / span 1;
		width: 90%;
		justify-self: center;
		justify-items: center;
	}

	.product {
		display: grid;
		grid-template-columns: 10% 30% 40% 20%;
		grid-template-rows:	50% 50%;
		padding-bottom: 1%;
		margin-top: 1%;
		margin-left: 1%;
		margin-right: 1%;
	}
	
	.product:after {
		grid-column: 1 / span 4;
		content: "";
		display: block;
		margin: 0 auto;
		width: 70%;
		border-bottom: 2px solid gray;
	}
	
	.product .button {
		border: hidden;
		background: transparent;
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		align-self: center;
		justify-self: center;
		width: 30%;
		height: 15%;
		transition: background 0.3s ease-in-out;
	}

	.product .button:hover {
		background: gray;
	}

	.product .image {
		grid-column: 2 / span 1;
		grid-row: 1 / span 2;		
		width: 55%;
	}

	.product .name {
		grid-column: 2 / span 2;
		grid-row: 1 / span 2;
		width: 90%;
		font-weight: normal;
	}

	.product .price {
		grid-column: 4 / span 1;
		grid-row: 1 / span 2;
		width: 90%;
		font-weight: normal;
	}

	button.button.addW {
		grid-column: 4 / span 1;
		grid-row:  / span 1;
		height: 15%;
		width: 60%;
		background: #1FCE6D;
	}
	
	button.button.addW:hover {
		background: #16aa56;
		transition: background 0.3s ease-in-out;
	}

}

@media screen and (max-width: 396px) {
	.product .name {
		font-size: small;
	}

	.product .price {
		font-size: x-small;
	}
	
	#totalPrice {
		font-size: xx-small;
	}
	
	.total button {
		width: 50%;
		height: 100%;
	}
	
	button.button.addW {
		height: 60%;
		width: 90%;
		margin-top: 20%;
		padding-bottom: 45%;
	}
}

@media screen and (max-width: 770px) {
	button.button.addW {
		height: 25%;
		width: 75%;
		font-size: small;
	}
}

@media screen and (max-width: 610px) {
	
	button.button.addW {
		height: 25%;
		width: 75%;
		margin-top: 15%;
		font-size: x-small;
	}
}
