@charset "utf-8";

@media screen {
	
	body {
		background: #2E3740;
	}
	
	div.cat-name {
		display: table;
		padding-bottom: 10px;
		margin: 0 auto;
		font-size: 2em;
		font-family: helvetica monospace;
	}
	
	div.separator {
		border-bottom: 1px white solid;
	}
	
	div.category-faq {
		color: white;
		border: 10px hidden #1FCE6D;
		padding-top: 13px;
		padding-left: 13px;
		padding-right: 13px;
		margin-bottom: 15px;
	}
	
	
	dl	{
		clear: both; 
		margin: 0 0 20px 0;
	}

	dt	{ 
		border: 8px solid #1FCE6D; 
		padding: 10px; 
		background: transparent; 
		border-radius: 10px;
		position: relative; 
		font-size: 1.5em;
		font-style: italic; 
	}
					
	dd.answer	{ 
		color: white;
		padding-bottom: 15px;
		background: transparent; 
		position: relative; 
		width: 90%; 
		margin: 0 auto;
	}

	dd.answer div	{
		padding: 10px;
		border-left: 8px solid #16aa56;
        border-right: 8px solid #16aa56; 
        border-bottom: 8px solid #16aa56;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

	
}