@charset "utf-8";

@media screen and (orientation: landscape) {
	
	div.cat-name {
		display: table;
		padding-bottom: 10px;
		margin: 0 auto;
		font-size: 2.1em;
		font-family: helvetica monospace;
	}
	
	div.separator {
		border-bottom: dotted thick;
	}
	
	div.category-faq {
		border: 10px hidden #7aff8e;
		padding-top: 13px;
		padding-left: 13px;
		padding-right: 13px;
		margin-bottom: 15px;
	}
	
	
	dl	{
		clear: both; 
		margin: 0 0 20px 0;
	}

	dt	{ 
		border: 8px solid #00c906; 
		padding: 10px; 
		background: white; 
		border-radius: 10px;
		position: relative; 
		font-size: 1.5em;
		font-style: italic; 
	}
					
	dd.answer	{ 
		padding-bottom: 15px;
		background: white; 
		position: relative; 
		width: 90%; 
		margin: 0 auto;
	}

	dd.answer div	{
		padding: 10px;
		border-left: 8px solid #111111;
        border-right: 8px solid #111111; 
        border-bottom: 8px solid #111111;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

	
}