@media screen and (max-width: 1920px)
{	
	div#logo
	{
		float: left;
		width: 10%;
	}
	
	div#searchbar
	{
		float: right;
	}
	
	div#services_icons
	{
		float: right;
		clear: right;
	}
}

@media screen and (max-width: 1000px)
{
	div#header
	{
		margin: inherit;
		background-color: maroon;
	}
	
	div#main
	{
		margin: inherit;
		background-color: blue;
	}
	
	div#footer
	{
		maring: inherit;
		background-color: black;
	}
}