@media screen and (orientation: landscape)
{	
	.services-flex-container {
		list-style: none;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
	}
	
	.service-flex-item {
		padding: 2px;
		width: 50px;
		height: 50px;
	}
	
	div#logo
	{
		float: left;
		width: 10%;
	}
	
	div#searchbar
	{
		float: right;
	}
	
	div#services_icons
	{
		clear: right;
	}
}

@media screen and (orientation: portrait)
{
	div#header
	{
		margin: inherit;
		background-color: maroon;
	}
	
	div#main
	{
		margin: inherit;
		background-color: blue;
	}
	
	div#footer
	{
		maring: inherit;
		background-color: black;
	}
}