@charset "utf-8";

@media screen and (max-width: 1920px)
{
	body
	{
		margin:0%;
	}
	
	header
	{
		margin: inherit;
		background-color: red;
		height: 100px;
	}
	
	div#main
	{
		margin-top: 100px;
		background-color: blue;
	}
	
	footer
	{
		margin: inherit;
		background-color: black;
	}
}

@media screen and (max-width: 1000px)
{
	body
	{
		margin:0%;
	}
	
	header
	{
		margin: inherit;
		background-color: brown;
		height: 100px;
	}
	
	div#main
	{
		margin-top: 100px;
		background-color: blue;
	}
	
	footer
	{
		margin: inherit;
		background-color: black;
	}
}