@charset "utf-8";

@media screen and (orientation: landscape)
{
	
	.index-grid {
		height: 1500px;
		display: grid;
		grid-template-rows: 15% 70% 15%;
	}
	
	.index-header {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}
	
	.index-main {
		grid-column: 1 / 1;
		grid-row: 2 / 2;
	}
	
	.index-footer {
		grid-column: 1 / 1;
		grid-row: 3 / 3;
	}
	
	*
	{
		padding: 0;
		margin: 0;
	}

	header
	{
		margin: inherit;
	}
	
	main
	{
	}
	
	footer
	{
		margin: inherit;
	}
}

@media screen and (orientation: portrait)
{
	body
	{
		margin:0%;
	}
	
	header
	{
		margin: inherit;
		background-color: brown;
	}
	
	main
	{
		margin-top: 100px;
		background-color: blue;
	}
	
	footer
	{
		margin: inherit;
		background-color: black;
	}
}