@charset "utf-8";

@media screen	{

	.index-grid {
		display: grid;
		grid-template-rows: 25% 60% 15%;
	}

	.index-header {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	.index-main {
		min-height: 50em;
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
	}

	.index-footer {
		grid-column: 1 / span 1;
		grid-row: 3 / span 1;
	}

	*
	{
		padding: 0;
		margin: 0;
	}

	header
	{
		margin: inherit;
	}
	
	footer {
		background-image: url("https://wallpapercave.com/wp/4hgiRFC.jpg");
	}

}

@media screen and (max-width: 1000px) {
	.index-main {
		min-height: 40em;
	}
		
}

@media screen and (max-width: 800px) {
	.index-main {
		min-height: 30em;
	}
		
}

@media screen and (max-width: 600px) {
	.index-main {
		min-height: 20em;
	}
		
}

@media screen and (max-width: 400px) {
	.index-main {
		min-height: 10em;
	}
		
}