@charset "ISO-8859-1";

@media screen and (orientation: landscape) {
	
	body {
		background: #2E3740;
	}


	li {
		list-style-type: none;
	}

	.product-list {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		gird-template-rows: repeat(4, 25%);
	}
	
	.product {
		display: grid;
		grid-template-rows: 80% 10% 10%;
		grid-template-columns: 40% 40% 20%;
		margin: 2.5%;
		margin-top: 5%;
		background: #cfcfcf;
		border-radius: .2em;
	}
	
	a {
		grid-row: 1 / 1;
		grid-column: 1 / span 3;
		justify-self: center;
		text-align: center;
	}
	
	.image {
		grid-row: 1 / 1;
		grid-column: 1 / span 3;
		jusify-self: center;
		width: 95%;
		margin-top: 2.5%;
		border-radius: .2em;
	}
	
	.name {
		grid-row: 2 / span 1;
		grid-column: 1 / span 3;
		justify-self: center;
		padding-top: 2.5%;
		padding-bottom: 5%;
	}
	
	.price {
		grid-row: 3 / 3;		
		grid-column: 1 / span 1;
		justify-self: center;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	button.button {
		grid-row: 3 / 3;
		grid-column: 2 / span 1;		
	}
	
	button.wishlist-button {
		grid-row: 3 / 3;
		grid-column: 3 / span 1;
	}

	
}