@media screen
	{
	
	* {
		margin: 0;
		padding: 0;
	}
	
	.logo {
		width: 8%;
		position: fixed;
		top: 1%;
		left: 1%;
	}
	
	body {
		background: #2E3740;
		color: #435160;
		font-family: "Open Sans", sans-serif;
	}

	h2 {
		color: #6D7781;
		font-family: "Sofia", cursive;
		font-size: 15px;
		font-weight: bold;
		font-size: 3.6em;
		text-align: center;
	}
	
	a {
		color: #435160;
		text-decoration: none;
	}
	
	div {
		width: 350px;
		position: absolute;
		top: 20%;
		left: 50%;
		margin-left: -175px;
	}
	
	div .errorMessage {
		color: red;
		left: 50%;
		top: 102%;
		text-align: center;
	}
	
	input {
		width: 350px;
		padding: 20px 0px;
		background: transparent;
		border: 0;
		border-bottom: 1px solid #435160;
		outline: none;
		color: #6D7781;
		font-size: 16px;
	}

	a{
		text-align:center;
	    position:relative;
	    display:table-cell;
	    width:50%;
	    cursor:pointer;
	    background:#2E3740;
	    width: 350px;
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -175px;
		line-height:40px;
	    display:table;
	    list-style:none;
	    color:grey;
	    margin-bottom:10px;
	    
	}	
	
	a:hover {
		color: #F0F0F0F0;
		background: #54545454;
	}
	
	input[type=checkbox] {
		display: none;
	}
	
	label {
		display: block;
		position: absolute;
		margin-right: 10px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: transparent;
		content: "";
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		border: 3px solid #435160;
	}
	
	#agree:checked ~ label[for=agree] {
		background: #435160;
	}
	
	input[type="submit"] {
		background: #1FCE6D;
		border: 0;
		width: 350px;
		height: 40px;
		border-radius: 3px;
		color: #fff;
		font-size: 12px;
		cursor: pointer;
		transition: background 0.3s ease-in-out;
	}
	
	input[type="submit"]:hover {
		background: #16aa56;
	}
	
	
	.agree {
		font-size: 12px;
		text-indent: 25px;
		line-height: 15px;
		margin-top: 350px;
	}
	
	::-webkit-input-placeholder {
		color: #435160;
		font-size: 12px;
	}
	
	label {
		display: block;
	}
	
}

@media screen and (max-width: 700px) {
	
	.logo {
		width: 12%;
	}
}

@media screen and (max-width: 500px) {
	
	.logo {
		width: 15%;
	}

}

@media screen and (max-width: 300px) {
	
	.logo {
		width: 18%;
	}
}