@media screen {
	
	body {
		background: white;
		text-align: center;
	}
	
	li {
		list-style: none;
	}
	
	.grid-container {
		width: 95%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows:	90% 10%;
		padding-top: 1%;
	}
	
	.list-of-products {
		background: white;
		grid-rows: 1 / span 1;
	}
	
	.total button {
		border: 1px black solid;
		border-radius: .5em;
		background: #1ECD6C;
		height: 100%;
		width: 35%;
		transition: background 0.3s ease-in-out;
	}
		
	.total button:hover {
		cursor: pointer;
		background: #16aa56;
	}
	
	.total {
		padding-top: 2%;
		padding-bottom: 2%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-rows: 2 / span 1;
		width: 90%;
		justify-self: center;
		justify-items: center;
	}

	.product {
		display: grid;
		grid-template-columns: 10% 30% 40% 20%;
		grid-template-rows:	100%;
		padding-bottom: 1%;
		margin-top: 1%;
		margin-left: 1%;
		margin-right: 1%;
	}
	
	.product:after {
		grid-column: 1 / span 4;
		content: "";
		display: block;
		margin: 0 auto;
		width: 70%;
		border-bottom: 2px solid gray;
	}
	
	.product .button {
		border: hidden;
		background: transparent;
		grid-column: 1 / span 1;
		align-self: center;
		justify-self: center;
		width: 30%;
		height: 15%;
		transition: background 0.3s ease-in-out;
	}

	.product .button:hover {
		background: gray;
	}

	.product .image {
		grid-column: 2 / span 1;
		width: 55%;
	}

	.product .name {
		grid-column: 3 / span 1;
		width: 90%;
	}

	.product .price {
		grid-column: 4 / span 1;
		width: 90%;
	}

}