<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  <display-name>DaemonMerch</display-name>

  <welcome-file-list>
    <welcome-file>/HTML/Index.jsp</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>control.servlet.webapp.ContextListener</listener-class>
  </listener>

  <!-- jsp mapping -->

  <!-- login jsp mapping -->
  <servlet>
    <servlet-name>LoginForm</servlet-name>
    <jsp-file>/HTML/LoginForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>

  <!-- index jsp mapping -->
  <servlet>
    <servlet-name>Index</servlet-name>
    <jsp-file>/HTML/Index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>

  <!-- faq jsp mapping -->
  <servlet>
    <servlet-name>Faq</servlet-name>
    <jsp-file>/HTML/Faq.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faq</servlet-name>
    <url-pattern>/Faq</url-pattern>
  </servlet-mapping>

  <!-- registration jsp mapping -->
  <servlet>
    <servlet-name>Registration</servlet-name>
    <jsp-file>/HTML/RegistrationForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/RegistrationForm</url-pattern>
  </servlet-mapping>

  <!-- user profile jsp -->
  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <jsp-file>/HTML/UserProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>

</web-app>
