@charset "utf-8";

@media screen and (max-width: 1920px)
{
	body
	{
		margin:0%;
	}
	
	div#header
	{
		margin: inherit;
		background-color: red;
		height: 100px;
	}
	
	div#main
	{
		margin: inherit;
		background-color: blue;
	}
	
	div#footer
	{
		maring: inherit;
		background-color: black;
	}
}

@media screen and (max-width: 1000px)
{
	body
	{
		margin:0%;
	}
	
	div#header
	{
		margin: inherit;
		background-color: maroon;
	}
	
	div#main
	{
		margin: inherit;
		background-color: blue;
	}
	
	div#footer
	{
		maring: inherit;
		background-color: black;
	}
}